h1, h2 {
  text-align: center;
  margin: 15px 0;
}

.input-label {
  width: 100%;
  margin: 15px 0;
  box-sizing: border-box;
}

.input-field {
  width: 100%;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.task-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons-body {
  @extend .task-flex;
  justify-content: flex-end;
}

.task-body {
  padding-right: 15px;
  word-wrap: break-word;
  width: 35%;
  @media (min-width: 400px) {
    width: 45%;
  }
  @media (min-width: 600px) {
    width: 55%;
  }
  @media (min-width: 750px) {
    width: 65%;
  }
  @media (min-width: 1000px) {
    width: 80%;
  }
}

.item-button {
margin: 3px;
}

.done-task {
  color: #808080;
  text-decoration: line-through;
  display: block;
}


